# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.env

# ============================================
# IDE и редакторы
# ============================================
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
prefect_etl.iml
.gigaide/

*.iml